<template>
  <div id="app">
    <h1>Vuex Practice</h1>
    <h2>タスク一覧</h2>
    <ul>
      <li v-for="task in tasks" :key="task.id">
        <input type="checkbox" :checked="task.done" v-on:change="toggleTaskStatus(task)" />
        {{ task.name }}
        -
        <span
          v-for="id in task.labelIds"
          :key="id"
        >{{ getLabelText(id) }},</span>
      </li>
    </ul>
    <form v-on:submit.prevent="addTask">
      <input type="text" v-model="newTaskName" placeholder="新しいタスク" />
    </form>

    <h2>ラベル一覧</h2>
    <ul>
      <li v-for="label in labels" :key="label.id">
        <input type="checkbox" :value="label.id" v-model="newTaskLabelIds" />
        {{ label.text }}
      </li>
    </ul>

    <form v-on:submit.prevent="addLabel">
      <input type="text" v-model="newLabelText" placeholder="新しいラベル" />
    </form>

    <h2>ラベルでフィルタ</h2>
    <ul>
      <li v-for="label in labels" :key="label.id">
        <input type="radio" :checked="label.id === filter" v-on:change="changeFilter(label.id)" />
        {{ label.text }}
      </li>
      <li>
        <input type="radio" :checked="filter === null" v-on:change="changeFilter(null)" />
        フィルタしない
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // タスク名を一時保存する
      newTaskName: "",

      // ラベルIDを一時保存
      newTaskLabelIds: [],

      // ラベル名を一時保存
      newLabelText: ""
    };
  },
  computed: {
    tasks() {
      return this.$store.getters.filteredTasks;
    },
    labels() {
      return this.$store.state.labels;
    },
    filter() {
      return this.$store.state.filter;
    }
  },
  methods: {
    addTask() {
      // addTaskミューテーションをコミット
      this.$store.commit("addTask", {
        name: this.newTaskName,
        labelIds: this.newTaskLabelIds
      });
      // 一時保存庫を空にする
      this.newTaskName = "";
      this.newTaskLabelIds = [];
    },

    // チェックボックスの変更で発火する
    toggleTaskStatus(task) {
      this.$store.commit("toggleTaskStatus", {
        id: task.id
      });
    },

    // ラベルを追加する
    addLabel() {
      this.$store.commit("addLabel", {
        text: this.newLabelText
      });
      this.newLabelText = "";
    },

    // ラベルのIDから、そのラベルのテキストを返す
    // そのタスクが持ってるidが渡される（1,2とか）
    getLabelText(id) {
      // そのidに対応するラベルを取得
      const label = this.labels.filter(label => label.id === id)[0];
      // そのid持っていれば、対応するテキストを返す
      return label ? label.text : "";
    },
    changeFilter(labelId) {
      this.$store.commit("changeFilter", {
        filter: labelId
      });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 {
  font-size: 4rem;
}

ul {
  list-style-type: none;
  width: 420px;
  margin: 0 auto;
  padding-left: 0;
}

li {
  text-align: left;
}
</style>
